div.Home {
}


.SmellTitle {
    font-size: 3em;
    text-align: center;
}



.HomeContentGrid {
    display: grid;
    grid-template-columns:  minmax(0, 1fr) minmax(0, 1fr); /* Two equal-width columns */
    justify-content: center;
    gap: 10px;
}

/* Additional styling for the columns */
.Left, .Right {
    max-width: 100%; /* Limit items to the available width */
}

/* Media query for responsive layout */
@media (max-width: 600px) {
.HomeContentGrid {
    grid-template-columns: 1fr; /* Switch to a single column layout */
}
}

.HomeGridItem {
    border: 1px solid black;    
    max-width: 100%;

}

.HomeGridItem img {
    max-width: 100%;
    height: auto;
}

.ModelListItem {
    display: inline-block;
    border: 1px solid black; 
    border-top: none;
    padding-left: .2em;
    padding-right: .2em;   
}

.ModelListItem :hover {
    cursor:crosshair
}

#ModelViewerHolder {
    border: none; 

}

.ModelViewer {
    width: auto;
    height: auto;
}

.ModelHolder {
    width: 100%; /* Ensures the square div takes full width of the parent */
    position: relative;
}

.CanvasWrapper {
    border: 1px solid black; 
    aspect-ratio: 1/1;
    margin: auto;
    cursor: grab

}
.CanvasWrapper :active {
    cursor: grabbing

}
