div.sidebar {
    background-color: beige;
    padding: 20px;
    display: inline-block;
}

div.sidebar:hover {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: get;
}

div.sidebar li {
    list-style: none;
}

div.sidebar li img {
    width: 50px;
    margin: -20px;;
}