
-- make this div hide on the left side of the screen
div.sidebar {
    background-color: beige;
    display: inline-table;
    position: fixed;
    height: 90%;
    position: absolute;
    top: 50%;
    transform: translate(-50px, -50%);
    transition: .5s;

}

div.sidebar:hover {
    transition: .5s;
    transform: translate(0%, -50%);

}

div.sidebar h1 {
    display: block;
}

div.sidebar li {
    list-style: none;
}

div.sidebar li img {
    width: 50px;
    margin: -20px;;
}

li.sidebarElement {
    margin: 10px;
    padding: 10px;
    transition: .5s;
    color: blueviolet;
}

li.sidebarElement:hover {
    transition: .5s;
    color: aqua;
div.sidebar li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

li.sideBarElement {
    color: white;
}